@font-face {
    font-family: "Aurelie";
    src: url("/fonts/aurelie-smith.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    background-color: #ffffff80;
    background-image: url(/imgs/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

.text-nav,
.text-nav-active {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.text-nav-active {
    border-bottom: 2px solid #d1d5dbd1;
}

.text-nav:hover {
    border-bottom: 2px solid #d1d5dbd1;
}
