@font-face {
    font-family: "Aurelie";
    src: url("/fonts/aurelie-smith.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    background-color: #ffffff80;
    background-image: url(/imgs/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

:root {
    --color-standard: #dba398;
    --color-white: #ffffff;
    --transition-standard: all 0.5s;
}
::selection {
    background-color: var(--color-standard);
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-standard);
    opacity: 0;
    transition: opacity 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

.text-nav,
.text-nav-active {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: var(--transition-standard);
}

.text-nav-active {
    border-bottom: 2px solid #000000;
}

.text-nav:hover {
    border-bottom: 2px solid #000000;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 25px;
}
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    display: inline-block !important;
    background: #fff !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #ffffff8c !important;
    border: 3px solid #fff !important;
    width: 12px !important;
    height: 12px !important;
}

.titles-aurelie {
    color: #000;
    text-align: center;
    font-family: "Aurelie";
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}

.sub-title-first-section {
    color: #808080;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texts-cards {
    color: #808080;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cta-cards {
    display: flex;
    width: 140px;
    height: 40px;
    padding: 11.158px 0px 11.158px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #d9d9d9;
}

.fslightbox-slide-btn-previous-container {
    left: 3% !important;
}

.fslightbox-slide-btn-next-container {
    right: 3% !important;
}

.fslightbox-slide-btn {
    border-radius: 25px;
    background: #fffffff2 !important;
}

.fslightbox-toolbar-button{
    width: 40px !important;
    height: 40px !important;
}

.fslightbox-toolbar {
    right: 3% !important;
    top: 35% !important;
    background: transparent !important;
}

.fslightbox-toolbar > *:first-child {
    background: #fff;
    margin-right: 5px;
    border-radius: 25px;
}

.fslightbox-toolbar > *:nth-child(2) {
    background: #fff;
    margin-left: 5px;
    border-radius: 25px;
}

.fslightbox-svg-path {
    fill: #000000 !important;
}

@media (max-width: 756px) {
    .titles-aurelie {
        font-size: 4rem;
    }
}
